body {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif !important;
  background-color: #e6ecf0;
}
.container-fluid {
  padding: 0;
}

.bg-dark {
  background-color: #ABB8C2 !important;
}
ul {
  padding: 0;
}
